##
## FOR LOCAL DEPLOYMENT
##

# postgres init
POSTGRES_USER=jotuser
POSTGRES_PASSWORD=securepassword
POSTGRES_DB=jotjournal

# backend
DATABASE_URL=postgres://jotuser:securepassword@localhost:5432/jotjournal?sslmode=disable
JWT_SECRET=super-secret-secret
JWT_EXPIRATION=86400
REFRESH_EXPIRATION=600

# cache
VALKEY_HOST=localhost
VALKEY_PORT=6379
